<footer>
  <div class="hm-app-footer-actions">
    <button type='submit' class='hm-app-footer-submit' data-tooltip='{{localize "hm.app.submit"}}'>{{localize 'hm.app.submit'}}</button>
    <button type='cancel' class='hm-app-footer-cancel' data-tooltip='{{localize "hm.app.cancel"}}'>{{localize 'hm.app.cancel'}}</button>
  </div>
</footer>