{{!-- Hero Mancer Application Header with Progress Indicator --}}
<div role="banner" data-application-part="header" class="hm-app-header">
  <h1 id="app-title">{{localize 'hm.app.header-title'}}</h1>
  <div class="progress-overlay" aria-live="polite">
    <span class="wizard-progress-text" aria-label="{{localize 'hm.app.creation-progress'}}"></span>
  </div>
</div>
