<footer class="cc-creator-footer">
  <div class='cc-creator-actions'>
    <button type='submit' class='cc-creator-submit' data-tooltip="{{localize 'cc.creator.actions.submit'}}">{{localize 'cc.creator.actions.submit'}}</button>
    <button type='cancel' class='cc-creator-cancel' data-tooltip="{{localize 'cc.creator.actions.cancel'}}">{{localize 'cc.creator.actions.cancel'}}</button>
  </div>
</footer>