<div class='tab {{tabs.equipment.cssClass}}' data-tab='equipment' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.equipment.tooltip'}}</legend>
    <p>{{localize 'hm.app.equipment.preamble'}}</p>
  </fieldset>
</div>