<div class='tab {{tabs.finalize.cssClass}}' data-tab='finalize' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.finalize.tooltip'}}</legend>
    <p>This is the Finalize tab!</p>
  </fieldset>
</div>