{{!-- Equipment Selection Tab --}}
<div class='tab {{tabs.equipment.cssClass}}' data-tab='equipment' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.equipment.tooltip'}}</legend>
    <p>{{localize 'hm.app.equipment.preamble'}}</p>
    <h2>{{localize 'hm.app.equipment.choices-header'}}</h2>

    {{!-- Dynamic Equipment Selection Container --}}
    <div id='equipment-container' class='equipment-container flex flex-col'>
      {{!-- This section will be populated by EquipmentParser.generateEquipmentSelectionUI() --}}
    </div>
  </fieldset>
</div>
