<div class='tab {{tabs.finalize.cssClass}}' data-tab='finalize' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.finalize.tooltip'}}</legend>
    <p>{{localize 'hm.app.finalize.preamble'}}</p>
  </fieldset>
</div>