<div class='tab {{tabs.equipment.cssClass}}' data-tab='equipment' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.equipment.tooltip'}}</legend>
    <p>{{localize 'hm.app.equipment.preamble'}}</p>
    <h2>Equipment Choices</h2>

    <!-- Container where EquipmentParser will inject equipment choices -->
    <div id='equipment-container' class='equipment-container'>
      <!-- This section will be populated by EquipmentParser.renderEquipmentChoices() -->
    </div>
  </fieldset>
</div>