<div class='tab {{tabs.equipment.cssClass}}' data-tab='equipment' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.equipment.tooltip'}}</legend>
    <p>This is the Equipment tab!</p>
  </fieldset>
</div>