/* ==========================================================================
  Animations
  ========================================================================== */

/* Primary ability animations */
@keyframes primary-ability-pulse {
  0% {
    text-shadow: 0 0 5px #ffd70099;
  }

  50% {
    text-shadow: 0 0 10px #ffd700cc;
  }

  100% {
    text-shadow: 0 0 5px #ffd70099;
  }
}

@keyframes primary-ability-pulse-light {
  0% {
    text-shadow:
      -1px -1px 1px #000000b3,
      1px -1px 1px #000000b3,
      -1px 1px 1px #000000b3,
      1px 1px 1px #000000b3,
      0 0 5px #ffd70099;
  }

  50% {
    text-shadow:
      -1px -1px 1px #000000e6,
      1px -1px 1px #000000e6,
      -1px 1px 1px #000000e6,
      1px 1px 1px #000000e6,
      0 0 10px #ffd700cc;
  }

  100% {
    text-shadow:
      -1px -1px 1px #000000b3,
      1px -1px 1px #000000b3,
      -1px 1px 1px #000000b3,
      1px 1px 1px #000000b3,
      0 0 5px #ffd70099;
  }
}

/* Animation for dice rolling */
@keyframes roll-dice {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.fa-dice-d6.rolling {
  color: #ff6b6b;
  animation: roll-dice 0.5s ease-in-out;
}
