/* ==========================================================================
  Main Application Container
  ========================================================================== */

.application.hm-app {
  display: flex;
  flex-direction: column;
  width: 1250px;
  max-width: calc(100vw - 100px);
  height: auto;
  min-height: 0;
  max-height: calc(100vh - 150px);
  overflow: hidden;
}

.application.hm-app .fa-egg,
.application.hm-app .fa-dice,
.application.hm-app .fa-list-check,
.application.hm-app .fa-atlas,
.application.hm-app .fa-palette,
.application.hm-app .fa-bug,
.hm-troubleshooter .fa-bug,
.hm-compendiums-popup-dialog .fa-solid {
  color: var(--user-color);
}

#hero-mancer-app .hm-app-tab-content h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

/* ==========================================================================
  Application Header
  ========================================================================== */

.hm-app-header {
  --progress-percent: 0%;

  display: flex;
  position: relative;
  flex: 0 0 var(--hm-app-header-height);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  text-align: center;
  background: transparent;
}

.hm-app-header::before {
  opacity: 0.8;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: url('../../../systems/dnd5e/ui/texture-gray2.webp') no-repeat center bottom / cover;
  filter: grayscale(100%);
}

.hm-app-header::after {
  background-blend-mode: overlay;
  clip-path: inset(0 calc(100% - var(--progress-percent)) 0 0);
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background:
    url('../../../systems/dnd5e/ui/texture-gray2.webp') no-repeat center bottom / cover,
    linear-gradient(to right, var(--user-color), var(--user-color));
  transition: clip-path 0.8s ease;
}

.hm-app-header h1 {
  margin: 0;
  border-bottom: unset;
}

.progress-overlay {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.wizard-progress-text {
  opacity: 0.9;
  color: #fff;
  font-size: 0.9rem;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* ==========================================================================
  Navigation Tabs
  ========================================================================== */

.application.hm-app .hm-app-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-self: center;
  padding-bottom: 0.4rem;
  text-align: center;
  white-space: nowrap;
}

.application.hm-app .hm-app-nav a.item {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 0.625rem;
  text-overflow: ellipsis;
}

.application.hm-app .hero-mancer-tabs.tabs.hm-app-nav .item {
  color: var(--color-text-primary);
}

.application.hm-app .hero-mancer-tabs.tabs.hm-app-nav .item.active {
  text-shadow: 0 0 10px var(--color-shadow-primary);
}

/* ==========================================================================
  Tab Content
  ========================================================================== */

.hm-app-tab-content {
  max-height: 70vh;
  overflow-y: auto;
}

.application.hm-app .hm-app-tab-content p {
  margin: 10px 0;
}

.application.hm-app .hm-app-tab-content table {
  border-radius: var(--border-radius-xl);
}

.application.hm-app .hm-app-tab-content table > caption {
  font-size: var(--font-size-24);
}

.hm-app-tab-content option {
  white-space: nowrap;
}

.hm-app-tab-content img {
  float: right;
  max-width: 200px;
  height: auto;
  margin-left: 5px;
  border: none;
}

.hm-app-tab-content h1 {
  font-size: 2.5rem;
}

.hm-app-tab-content .equipment-choices h3 {
  font-size: 1.64rem;
  font-family: 'modesto condensed', serif;
}

/* ==========================================================================
  Footer
  ========================================================================== */

.hm-app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
}

.hm-app-footer-actions {
  gap: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.hm-app .hm-app-footer .hm-app-footer-actions button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

/* Button hover states */
.hm-app .hm-app-footer .hm-app-footer-actions .hm-app-footer-submit:hover {
  background-color: #45a149;
}

.hm-app .hm-app-footer .hm-app-footer-actions .hm-app-footer-save:hover {
  background-color: #ffd500;
}

.hm-app .hm-app-footer .hm-app-footer-actions .hm-app-footer-reset:hover {
  background-color: #ff8000;
}

.hm-app .hm-app-footer .hm-app-footer-actions .hm-app-footer-cancel:hover {
  background-color: #d33131;
}
