/* ==========================================================================
  Field layout
 ========================================================================== */
.field-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.field-column .field-group {
  margin-bottom: 0.4rem;
  border: 1px solid var(--color-border-light-tertiary);
  border-radius: var(--border-radius-md);
}

/* ==========================================================================
  Horizontal Rules
  ========================================================================== */

.application.hm-app hr {
  height: 2px;
  border: none;
  background-image: linear-gradient(90deg, transparent 0%, #e7d1b1 50%, transparent 100%);
}

.theme-light .application.hm-app hr {
  height: 2px;
  border: none;
  background-image: linear-gradient(90deg, transparent 0%, #8b5e3c 50%, transparent 100%);
}

/* ==========================================================================
  Typography
  ========================================================================== */

.hm-app h2,
.hm-app h3 {
  padding: 0.2rem 0 0.3rem;
}

fieldset#start > h2 {
  margin: 0;
}

.hm-app p {
  display: block;
  line-height: var(--line-height-20);
}

.hm-app table {
  margin: 0;
}
