/* ==========================================================================
  Media Queries
  ========================================================================== */

@media (width <= 999px) {
  /* Application container */
  .application.hm-app {
    width: 95%;
    max-width: 95%;
    max-height: 75vh;
  }

  /* Navigation */
  .application.hm-app .hm-app-nav {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .application.hm-app .hm-app-nav a.item {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 150px;
    margin-bottom: 10px;
  }

  /* Form elements */
  .hm-app-tab-content fieldset input[type='text'],
  .hm-app-tab-content fieldset select {
    width: 80%;
    margin: 0;
  }

  /* Footer */
  .hm-app-footer-actions {
    gap: 0.313rem;
    width: 100%;
  }
}

@media (width <= 768px) {
  /* Application container */
  .application.hm-app {
    width: 100%;
    max-height: 70vh;
  }

  /* Footer */
  .hm-app-footer-actions {
    gap: 0.5rem;
    flex-direction: column;
    width: 100%;
  }

  /* Navigation */
  .application.hm-app .hm-app-nav a.item {
    padding: 0 0.313rem;
    font-size: var(--font-size-13);
  }

  /* Form elements */
  .hm-app-tab-content fieldset {
    padding: 0.313rem;
  }

  .hm-app-tab-content fieldset input[type='text'],
  .hm-app-tab-content fieldset select {
    width: 100%;
    margin: 0;
  }

  /* Equipment grid */
  .equipment-choices {
    grid-template-columns: 1fr;
  }

  .ability-scores-container {
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .ability-scores-container label.font-bold {
    margin-bottom: 0.25rem;
  }
}

/* Minimum width requirement for Foundry (700px <= width <= 999px) */
@media (700px <= width <= 999px) {
  .application.hm-app {
    width: 100%;
    height: auto;
    max-height: 80vh;
  }

  .hm-app-footer-actions button {
    padding: 0.25rem 0.5rem;
    font-size: var(--font-size-13);
  }
}
